@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?4lwid1');
    src:  url('fonts/icomoon.eot?4lwid1#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?4lwid1') format('truetype'),
      url('fonts/icomoon.woff?4lwid1') format('woff'),
      url('fonts/icomoon.svg?4lwid1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}